

button {
	background-color:#ff8000;
}

body {
	background-image:url("http://image.tmdb.org/t/p/w1920/sZ3OAC8aFARMNz8raMvwBPfPsLV.jpg");
	background-size:cover;
	background-repeat:no-repeat;
}

div {
	position: absolute;
    top: 25%;
    left: 50%;
    width: 500px;
    height: 300px;
    margin-left: -250px;
    margin-top: -150px;
}
