

button {
	background-color:#ff8000; /*orange*/
	display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 90px;
}

body {
	background-image:url("http://image.tmdb.org/t/p/w1920/sZ3OAC8aFARMNz8raMvwBPfPsLV.jpg");
	background-size:cover;
	background-repeat:no-repeat;
}

div {
	position: absolute;
    top: 25%;
    left: 50%;
    width: 500px;
    height: 300px;
    margin-left: -250px;
    margin-top: -150px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 90px;
  cursor: pointer;
  margin: 5px;
}







