.jumbotron {
	background-image:url("http://image.tmdb.org/t/p/w1920/sZ3OAC8aFARMNz8raMvwBPfPsLV.jpg");
	color:black;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:right;
	background-color:#fff;
	padding:25px;
}

body {
	color:#fff;
	background-color:#e60000;
}




h1 {
	text-decoration:underline;
	padding:25px;
	
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '>>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}


.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
